@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html:has(div [data-theme='themeA']){
    --primary-lightest: hsl(0 0% 100);
    --primary-lighter: hsl(0 0% 90%);
    --primary-light: hsl(0 0% 75%);
    --primary: hsl(0 0% 50%);
    --primary-dark: hsl(0 0% 30%);
    --primary-darker: hsl(0 0% 15%);
    --primary-darkest: hsl(0 0% 0%);
    
    --secondary-lighter: hsl(218 80% 90%);
    --secondary-light: hsl(218 80% 75%);
    --secondary: hsl(218 80% 50%);
    --secondary-dark: hsl(218 80% 30%);
    --secondary-darker: hsl(218 80% 15%);
    
    --success: 120 53%;
  }


  html:has(div [data-theme='themeB']){

    --primary-darkest: hsl(0 0% 100%);
    --primary-darker: hsl(0 0% 90%);
    --primary-dark: hsl(0 0% 75%);
    --primary: hsl(0 0% 50%);
    --primary-light: hsl(0 0% 30%);
    --primary-lighter: hsl(0 0% 15%);
    --primary-lightest: hsl(0 0% 0%);
    
    --secondary-darker: hsl(58 80% 90%);
    --secondary-dark: hsl(58 80% 75%);
    --secondary: hsl(58, 80%, 50%);
    --secondary-light: hsl(58 80% 30%);
    --secondary-lighter: hsl(58 80% 15%);
    
    --success: 120 53%;
    
  }

}


