.textInput[data-slot='base']{
    @apply w-[20em]
}

.textInput [data-slot='label']{
    @apply !text-primary-darkest
}

.textInput [data-slot='input-wrapper']{

    @apply  bg-primary-lightest
            border-primary
            text-primary
}

.textInput[data-focus] [data-slot='input-wrapper']{
    @apply  focus-within:!border-secondary
            focus-within:!shadow-[0px_0px_4px_1px]
            focus-within:!shadow-secondary
}

.textInput[data-invalid] [data-slot='input-wrapper']{
    @apply  !border-danger
            !shadow-[0px_0px_4px_1px]
            !shadow-danger
}


.textInput [data-slot='input']{
    @apply  placeholder:text-primary
            !text-primary-darker
}

.submit {
    @apply bg-secondary text-primary-lighter block m-auto
}

.submit div[aria-label='Loading'] {
    vertical-align: middle !important;
    margin-right: 5px !important;
}